version: '3'
services:
  todoback:
    build: todobackend/
    # parâmetros
    # ...
  todofront:
    build: todofrontend/
    # parâmetros
    # ...
  todotests:
    build: todotests/
    # parâmetros
    # ... 
  # ...